{
  "singleQuote": true,
  "trailingComma": "all",
  "importOrder": ["^@?(?!\\.)(.*)$"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["prettier-plugin-organize-imports"]
}